* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body 
{
    background-color: #E5ECF9; 
}


/****************************** COMPONENTES BASE ***************************************/

input 
{
    color: #252525;
    padding: 2px 5px;
    font-size: 18px;
}

.input-underline 
{
    outline: none;
    border:none;    
    border-bottom: solid 1px #097EF6;
}

input::placeholder 
{
    color: rgba(37, 37, 37, 0.5);
}

button 
{
    font-size: 14px;
    border: solid 1px #4a4c4d;
    border-radius: 10px;    
    padding: 10px;
}

.custom-button 
{
    font-size: 14px;
    color: white;    
    background-color: #097EF6;    
    text-transform: uppercase;
    border: 0;        
    border-radius: 15px;    
    padding: 8px;    
}

select
{
    font-size: 15px;
    padding: 5px 5px 5px 10px;     
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;  
    appearance: none; 
    background: #ffffff url("images/arrow3.png") right 10px center/15px 15px no-repeat;
}

.custom-select
{
    font-family: Poppins;
    border: 1px solid #FFFFFF !important;
    font-size: 12px;
    border-radius: 5px;
    width: 55% !important;
    height: 36px;
    background-color: #5A71E1;
    color: #FFFFFF!important;
    appearance: none; 
    background: #5A71E1 url("images/arrow.png") right .75rem center/8px 10px no-repeat!important;
 }   

.link 
{
    color: #097EF6;
    text-decoration: none;
    font-size: 16px;    
}

.link:hover 
{
     color: #e8a11e; 
     font-size: 18px;
}

.pnlSeccion
{   
    background-color: #fcf3e7;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 10px 10px;    
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}


/************************************ LOGIN ******************************************/


.pnlLogin
{
    display: flex;    
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    min-height: 95vh;
}

.pnlLogin .logo
{        
    width: 190px;
    margin-top: 30px;    
    margin-bottom: 35px;
}

.frmLogin
{
    display: flex; 
    flex-direction: column;
    background: #fff;
    text-align: center;
    align-items: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);    
    border-radius: 10px;
}

.frmLogin .title 
{
    color: #252525;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}

.frmLogin .imgUser 
{
    width: 20px;
    margin-right: 10px;
}

.frmLogin .imgLock
{
    width: 15px;
    margin-right: 10px;
}

.frmLogin label 
{
    margin-bottom: 30px;
}

.frmLogin label .fa-solid 
{
    font-size: 20px;
    color: #cb232c;
    margin-right: 10px;
}

.frmLogin .link 
{
    color: #097EF6;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.frmLogin .chkLogin
{    
    color: rgb(80, 76, 76);    
    text-align: left;    
    font-size: 16px;    
    margin-bottom: 15px;
}

.frmLogin .submit 
{   
    font-size: 18px;
    width: 180px;
    margin-bottom: 15px;
}

/************************************** MENU *****************************************/

.pnlMenu
{   
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 15px 10px;
    margin-top: 20px;  
    margin-left: 10px;  
    margin-right: 10px;
    margin-bottom: 10px;
    width: 20%;
    height: 650px;
}

.menu
{
    width: 10px;
}


.container
{
    display: flex;
    background-color: white;
    width: 90%;
    height: 100%;    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 50px;
}


/******************************** MOVIMIENTOS ****************************************/


.pnlMovimientos
{ 
    width: 75%;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.pnlFiltros
{   
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 10px 10px;    
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.pnlFiltros .comboCliente 
{
    width: 55%;
}

.pnlFiltros .comboAno
{
    width: 15%;    
    margin-left: 5px;
}

.pnlFiltros .comboMes
{
    width: 27%;    
    margin-left: 5px;
}

.pnlMovimientos .itemMovimiento
{   
    display: flex;
    background: #fff;
    text-align: left;    
    margin-bottom: 5px;
}

.pnlMovimientos .itemMovimiento .descripcion
{   
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 7px 10px;
    width: 60%;
}

.pnlMovimientos .itemMovimiento .cargo
{   
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 7px 10px;
    width: 20%;
    margin-left: 5px;
}

.pnlMovimientos .itemMovimiento .abono
{   
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 7px 10px;
    width: 20%;
    margin-left: 5px;
}

.pnlMovimientos .itemMovimiento .titulo
{
    color: #097EF6;    
    font-size: 15px;      
}

.pnlMovimientos .itemMovimiento .info
{
    color: black;    
    font-size: 14px;    
}

.pnlMovimientos .titulo
{   
    display: flex;
    background: #fff;
    text-align: left;    
    margin-bottom: 5px;
}

.pnlMovimientos .txtDescripcion 
{   
    font-size: 16px;  
    width: 100%;
}

.pnlMovimientos .txtCargo
{   
    font-size: 16px;  
    width: 100%;
}

.pnlMovimientos .txtAbono
{   
    font-size: 16px;  
    width: 100%;
}

.itemMovimiento .descripcionTotal
{   
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 7px 10px;
    width: 60%;
    text-align: right;
}

.pnlMovimientos .total
{   
    font-size: 16px;      
    font-weight: bold;    
    width: 100%;
}

.pnlMovimientos .totalCargo
{   
    font-size: 16px;      
    font-weight: bold;    
    width: 100%;
}

.pnlMovimientos .totalAbono
{   
    font-size: 16px;      
    font-weight: bold;    
    width: 100%;
}

.pnlMovimientos .boton 
{
    font-size: 15px;    
    margin-left: 10px;    
    margin-right: 10px;
}

.pnlTotales
{
    padding: 30px 30px;
    width: 10%;
}


/*********************************** CLIENTES ****************************************/


.pnlClientes
{
    background-color: #ffffff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 5px;
    width: 75%;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;   
}


.pnlClientes .pnlSeccion
{   
    background-color: #fcf3e7;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 10px 10px;    
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
}

.pnlClientes .agregar 
{
    font-size: 14px;    
    border-radius: 9px;    
    margin-left: 100px;
}

.pnlClientes .itemCliente
{    
    display: flex;
    background: #fff;
    text-align: left; 
    text-align: left;
    padding: 5px 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
}

.pnlClientes .itemCliente .rfc
{       
    padding: 2px 5px;
    width: 25%;
}

.pnlClientes .itemCliente .descripcion
{       
    padding: 2px 5px;
    width: 55%;
}

.pnlClientes .itemCliente .acciones
{   
    padding: 2px 5px;
    width: 20%;
    margin-left: 5px;
    text-align: center;
}

.pnlClientes .itemCliente .acciones .editar
{ 
    height: 20px;
    margin-left: 5px;    
}

.pnlClientes .itemCliente .acciones .borrar
{ 
    height: 20px;
    margin-left: 10px;    
}


/******************************** CLIENTE AGREGAR ****************************************/


.pnlClienteAgregar
{
    display: flex;    
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    width: 75%;    
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;   
}

.frmClienteAgregar
{    
    display: flex; 
    flex-direction: column;
    background: #fff;
    width: 60%;
    text-align: left;
    padding: 10px 15px;
    box-shadow: 0 0px 1px rgba(71, 3, 6, 0.7);
    margin-top: -100px;
}

.frmClienteAgregar .frmTitulo
{   
    background-color: #fcf3e7;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 7px;    
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.frmClienteAgregar .buscar
{   
    padding: 8px;  
    margin-left: 10px;
}

.frmClienteAgregar .bntLupa
{   
    width: 20px;   
}

.frmClienteAgregar .submit 
{   
    width: 150px;    
    margin-top: 10px;
    margin-bottom: 10px;    
}

/*********************************** FACTURAS ****************************************/


.pnlFacturas
{
    background-color: #ffffff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 5px;
    width: 75%;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;   
}


.pnlFacturas .itemFactura
{    
    display: flex;
    background: #fff;
    text-align: left; 
    text-align: left;
    padding: 3px 5px 0px 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    margin-bottom: 5px;
}

.pnlFacturas .itemFactura .numero
{       
    font-size: 15px;
    padding: 2px 5px;
    width: 12%;
}

.pnlFacturas .itemFactura .descripcion
{       
    font-size: 15px;
    padding: 2px 5px;
    width: 53%;
}

.pnlFacturas .itemFactura .importe
{       
    font-size: 15px;
    padding: 2px 5px;
    width: 15%;
}

.pnlFacturas .itemFactura .acciones
{   
    padding: 2px 5px;
    width: 20%;
    margin-left: 5px;
    text-align: center;
}

.pnlFacturas .itemFactura .acciones .lupa
{ 
    width: 17px;
    margin-left: 5px;    
}

.pnlFacturas .itemFactura .acciones .pdf
{ 
    width: 17px;
    margin-left: 10px;    
}

.pnlFacturas .itemFactura .acciones .descargar
{ 
    width: 17px;
    margin-left: 10px;    
}


/******************************** MI CUENTA ****************************************/


.pnlMiCuenta
{
    display: flex;    
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    width: 75%;    
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;   
}

.frmMiCuenta
{    
    display: flex; 
    flex-direction: column;
    background: #fff;
    width: 60%;
    text-align: left;
    padding: 10px 15px;
    box-shadow: 0 0px 1px rgba(71, 3, 6, 0.7);
    margin-top: -100px;
}

.frmTitulo
{   
    background-color: #fcf3e7;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 7px;    
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.frmMiCuenta .paquetes
{
    width: 100%;
    margin-bottom: 15px;   
}

.frmMiCuenta .submit 
{   
    width: 150px;    
    margin-top: 10px;
    margin-bottom: 10px;    
}